.todo-page-container {
    display: flex;
    flex-direction: row;
}

.side-column {
    flex-grow: 0;
    width: 200px;
    background-color: #ab98be;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    align-items: center;
}

.list-container {
    border-top: black 1px solid;
    padding-top: 5px;
    width: 100%;
}

.list-container:hover {
    cursor: pointer;
}
